<div class="navbar-collapse collapse right" id="basket-overview">
    <a href="@Href("~/shoppingcarts/index")" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">@ViewBag.CartCount items in cart</span></a>
</div>