@{
    Layout = null;
}

@{
    float subTotal = (float)ViewBag.itemTotal;
}
<div class="box" id="order-summary">
    <div class="box-header">
        <h3>Order summary</h3>
    </div>
    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
    @{
        float tax = 5;
        float shipping = 10;
        float total = subTotal + tax + shipping;

    }
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td id="subtotal">Order subtotal</td>
                    <th>$@subTotal.ToString("N")</th>
                </tr>
                <tr>
                    <td>Shipping and handling</td>
                    <th>$@shipping.ToString("N")</th>
                </tr>
                <tr>
                    <td>Tax</td>
                    <th>$@tax.ToString("N")</th>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <th>$@total.ToString("N")</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>
