<!DOCTYPE HTML>
<html>
<body>
    <div class="account-in">
        <div class="container">
            <div class="check_box">
                @switch ((string)@ViewContext.RouteData.Values["id"])
                {
                    case "2":
                        Html.RenderPartial("~/Views/Shared/_Checkout2.cshtml");
                        break;
                    case "3":
                        Html.RenderPartial("~/Views/Shared/_Checkout3.cshtml");
                        break;
                    case "4":
                        Html.RenderPartial("~/Views/Shared/_Checkout4.cshtml");
                        break;
                    case "5":
                        Html.RenderPartial("~/Views/Shared/_ThankYouOrder.cshtml");
                        break;
                    default:
                        Html.RenderPartial("~/Views/Shared/_Checkout1.cshtml");
                        break;
                }

            </div>
        </div>
    </div>

</body>
</html>		