/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    height: 90px;
}

.hidden-xs {
 height:60px;
 width: 75px;
}
 
.img-responsiveTop, .itemTop {
    height: 550px;
    width: 600px;
}

.footer-image {
    height: 275px;
    width: 280px;
    float: right;
}
#Description {
    width: 400px;
    height: 300px;
    max-width: 500px;
}

#descriptiontwo {
    width: 300px;
    max-height: 50px;
}
