/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#content {
    background-imageurl("paper.gif");
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    height: 90px;
}

.navbar-brand.home {
    font-weight: bold;
    color: darkslategrey;
}

.hidden-xs {
 height:60px;
 width: 75px;
}

.img-responsiveTop {
    height: 500px;
    width: 500px;
}

.img-responsiveTop1 {
    width: 200px;
}

#main-slider {
    width: 500px;
    margin: 0 auto;
}

#advantages {
    margin-top: 1.5em;
}

.footer-image {
    height: 180px;
    width: 250px;
   float: right;

    
}
#Description {
    width: 400px;
    height: 300px;
    max-width: 500px;
}

#descriptiontwo {
    width: 300px;
    max-height: 50px;
}

#order-summary {
    width: 375px;
}

.customer-menu {
    width: 30%;
}

@media (max-width: 600px){
    .footer-image {
        width: 200px;
        height: 125px;
    }
}

