@using Blog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        <section>
            <h3>Your Profile</h3>

            @Html.Partial("_SocialLogin")
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}