
@{
    ViewBag.Title = "Index";
}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <h2>Thanks For Visiting!</h2>
      <hr class="blog-ridges" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <h3>How Was This Blog Developed?</h3>
      <p>
        This blog was built using <span class="big-white-font">MVC</span> and the <span class="big-white-font">Razor Engine</span> on the <span class="big-white-font">ASP.NET</span> framework.The database was constructed through <span class="big-white-font">Code First</span> migrations with <span class="big-white-font">LINQ</span>.
        User Authentication was further customized by adding <span class="big-white-font">third-party login APIs</span>.
        The Front End of the application was designed using the <span class="big-white-font">Bootstrap</span> framework.
      </p>
      <a href="https://github.com/justinrhammonds/blog">
        <div id="github-div">
          <h3>View This Project on</h3>
          <img id="github-logo" src="~/Content/GitHub_Logo.png" />
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-sm-offset-1 col-xs-12 project-div">
      <h3>Check Out My Other Projects:</h3>
      <br />
      <p>
        <a href="http://jhammonds.azurewebsites.net">
          <span class="project-btn"><i class="fa fa-comments"></i></span>
          <span class="big-white-font">Web Development Portfolio</span>
        </a>
      </p>
      <br />
      <br />
      <p>
        <a href="http://jhammonds-carfinder.azurewebsites.net">
          <span class="project-btn"><i class="fa fa-car"></i></span>
          <span class="big-white-font">CarFinder Web API</span>
        </a>
      </p>
      <br />
      <br />
      <p>
        <a>
          <span class="project-btn"><i class="fa fa-bug"></i></span>
          <span class="big-white-font">BugTracker Application</span>
        </a>
      </p>
      <br />
      <br />
      <p>
        <a>
          <span class="project-btn"><i class="fa fa-credit-card"></i></span>
          <span class="big-white-font">Financial Portal</span>
        </a>
      </p>
    </div>
  </div>
</div>


